@import "tailwindcss";

@theme {
  --color-purple: #633cff;
  --color-purple-hover: #beadff;
  --color-purple-light: #efebff;
  --color-dark-grey: #333333;
  --color-grey: #737373;
  --color-borders: #d9d9d9;
  --color-light-grey: #fafafa;
  --color-white: #ffffff;
  --color-red: #ff3939;
}

@layer base {
  .text-heading-m {
    font-size: 32px;
    line-height: 150%;
    font-weight: bold;
  }
  .text-heading-s {
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
  }
  .text-body-m {
    font-size: 16px;
    line-height: 150%;
  }
  .text-body-s {
    font-size: 12px;
    line-height: 150%;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid theme("colors.neutral.500");
    border-right-color: theme("colors.neutral.200");
    animation: rotate 1s infinite linear;
  }
  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("--color-neutral-300");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
